<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
      <a href="#" class="brand-logo center">YourSpace</a>
      <ul id="nav-mobile" class="left hide-on-med-and-down">
        <li><a href="/"> Home </a></li>
        <li><a href="/host">Become a Host</a></li>
        <li><a href="/change">Change</a></li>
      </ul>
  </div>
</nav>