{{> navbar}}



<div class="container">
    <h1> Welcome to YourSpace !</h1>
    <p>Your Space , where you can browse and rent a unique personal space that fits your needs for a few hours. Choose the space that fits your needs then , click and pick. 
                  </p>
    <div class="row">
        <div class="col s12 m4">
            <div class="card small">
                <div class="card-image1">
                    <img
                        src="https://images.unsplash.com/photo-1589643609936-8292453cf842?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1951&q=80" />
                    <span class="card-title">Outdoor Space</span>
                </div>
                <div class="card-content">

                </div>
                <div class="card-action">
                    <a href="/outdoor">Click to View</a>
                </div>
            </div>
        </div>
        <div class="col s12 m4">
            <div class="card small">
                <div class="card-image1">
                    <img
                        src="https://images.unsplash.com/photo-1501084817091-a4f3d1d19e07?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=2850&q=80" />
                    <span class="card-title">Studio Space</span>
                </div>
                <div class="card-content">

                    </p>
                </div>
                <div class="card-action">
                    <a href="/studio">Click to View</a>
                </div>
            </div>
        </div>
        <div class="col s12 m4">
            <div class="card small">
                <div class="card-image1">
                    <img
                        src="https://images.unsplash.com/photo-1578018948722-8e01f74e7271?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1950&q=80" />
                    <span class="card-title">Urban Space</span>
                </div>
                <div class="card-content">

                </div>
                <div class="card-action">
                    <a href="/urban">Click to View</a>
                </div>
            </div>
        </div>

    </div>
    <div class="row">
        <div class="col m6">
            <h1> Renters</h1>
            <p>Interested in renting one of our spaces? Good times are just a click away.</p>

        </div>

        <div class="col m6">
            <h1>Host</h1>
            <p>  Is your unique home space the envy of all your friends?
                Do you have a backyard , urban space or studio thats sitting unused space that everyone wants to use?
                Want to earn some extra money ? Consider becoming a host.</p>
        </div>
                
    
</div>
<div class="container">





